
@import "../base/variables";

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-box{
        color: $theardColorContent;
        text-align: center;

        h2{
            font-size: 72px;
            line-height: 90px;
            font-weight: 700;
        }

        p{
            font-size: 14px;
            padding-top: 15px;
            letter-spacing: 1px;
        }

        a{
            text-transform: uppercase;
            display: block;
            
            margin-top: 20px;
            font-size: 18px;
            padding: 10px 70px;
            border-radius: 7px;
            border: 2px solid $theardColorContent;
            color: $theardColorContent;

            transition: all .2s;

            &:hover{
                background-color: $theardColorContent;
                color: $baseColorContent;
            }
        }
    }
}